@using Foot_Locker_Project.Models;

<link href="~/Content/Shoes.css" rel="stylesheet" type="text/css" />

    <button> @Html.ActionLink("click Here", "ShoesOnSael", "Shoes") </button>
<section class="contener">
    @*<a href="/AllClothing/Clothing">click here</a>*@
    @foreach (Shoe item in Model)
    {
        <div class="box">
            <img src="@item.LinkIMG" />
            <h1><b>@item.CompanyName</b></h1>
            <p>@item.Type</p>
            <p>@item.ShoesType</p>
            <p>Price: @item.Price$</p>



        </div>
    }
</section>