@using Foot_Locker_Project.Models;
<link href="~/Content/Tablecss.css" rel="stylesheet" type="text/css" />


<table>

    <tr>
        <th>Id </th>
        <th>Company</th>
        <th>Type </th>
        <th>Gender</th>
        <th>Price </th>
        <th>Quantity </th>
        <th>Short </th>
        <th>Dryfit</th>
        <th>LinkIMG</th>
    </tr>
    @foreach (Clothing item in Model)
    {
<tr>
    <td>@item.Id </td>
    <td>@item.Company </td>
    <td>@item.Type </td>
    <td>@item.Gender </td>
    <td>@item.Price </td>
    <td>@item.Quantity </td>
    <td>@item.Short </td>
    <td>@item.Dryfit </td>
    <td><img src="@item.IMGlink" </td>

</tr>
    }




</table>